body{
  padding: 0;
  margin: 0;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}

#root{
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto;
}

.button {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
  background: rgb(25, 156, 173);
  color: white;
  cursor: pointer;
}

#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  z-index: 1;
  width: 430px;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  position: relative;
  animation: animate 0.4s;
}

.modal button.close {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
}

.modal-header{
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  padding: 15px 11px;
  width: 100%;
  font-weight: bold;
}

.modal-body{
  height: 300px;
  padding: 10px;
  overflow: auto;
}

.modal-footer{
  border-top: 1px solid #ccc;
  display: flex;
  padding: 12px 11px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-footer button{
  padding: 12px 11px;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
